<?xml version="1.0" encoding="UTF-8"?>
				<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
				<plist version="1.0">
				<dict>
					<key>items</key>
					<array>
						<dict>
							<key>assets</key>
							<array>
								<dict>
									<key>kind</key>
									<string>software-package</string>
									<key>url</key>
									<string>https://objects.githubusercontent.com/github-production-release-asset-2e65be/637855925/2b951155-adcc-436c-b87f-70139a84be78?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20240721%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240721T125054Z&X-Amz-Expires=300&X-Amz-Signature=3fe7a0804c1f6f38bc4b4be783065fd0292b598d848552351523e37c11c8cbbb&X-Amz-SignedHeaders=host&actor_id=132854596&key_id=0&repo_id=637855925&response-content-disposition=attachment%3B%20filename%3DLQ.MAP_1.0_1721448908.ipa&response-content-type=application%2Foctet-stream</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>display-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>https://i.codevn.net/images/icon-144.png</string>
								</dict>
								<dict>
									<key>kind</key>
									<string>full-size-image</string>
									<key>needs-shine</key>
									<true/>
									<key>url</key>
									<string>https://i.codevn.net/images/icon-144.png</string>
								</dict>
							</array>
							<key>metadata</key>
							<dict>
								<key>bundle-identifier</key>
								<string>com.chauphong.chp</string>
								<key>bundle-version</key>
								<string>2.0</string>
								<key>kind</key>
								<string>software</string>
								<key>title</key>
								<string>Liên Quân</string>
							</dict>
						</dict>
					</array>
				</dict>
				</plist>
